<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nologin.meep.pingly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <!-- reason: useless without internet -->
	<uses-permission android:name="android.permission.INTERNET" />
    <!-- reason: probes check internet connection present before running -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- reason: reschedule probes on reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/main_launcher_icon" android:label="@string/app_name"
        android:theme="@style/Theme.PinglyTheme" android:name=".PinglyApplication">

        <activity android:label="@string/app_name" android:name=".activity.PinglyDashActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProbeListActivity" android:label="@string/app_name"/>
        <activity android:name=".activity.ProbeDetailActivity" android:label="@string/app_name" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ProbeRunnerActivity" android:label="@string/app_name"/>
        <activity android:name=".activity.ProbeRunHistoryActivity" android:label="@string/app_name"/>
        <activity android:name=".activity.ScheduleListActivity" android:label="@string/app_name"/>
        <activity android:name=".activity.ScheduleDetailActivity" android:label="@string/app_name"/>
        <activity android:name=".activity.SettingsActivity" android:label="@string/app_name"/>

        <receiver android:name=".alarm.RescheduleAllAlarmsReceiver">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /></intent-filter>
            <!-- TODO: test
            <intent-ui><action android:name="android.intent.action.PACKAGE_REPLACED" /></intent-ui>
            <intent-ui><action android:name="android.intent.action.TIMEZONE_CHANGED" /></intent-ui>
            <data android:scheme="package" android:path="your.app.package" />
            -->
        </receiver>
        <receiver android:name=".alarm.ProbeRunnerReceiver"></receiver>

        <!-- TODO:  i18n label! -->
        <service
                android:name=".service.ProbeRunnerScheduleService"
                android:icon="@drawable/main_launcher_icon"
                android:label="Pingly Probe Runner Service"
                />

        <service
                android:name=".service.ProbeRunnerInteractiveService"
                android:icon="@drawable/main_launcher_icon"
                android:label="Pingly Probe Test Runner Service"
                />

    </application>

</manifest>